* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-img {
    background-image: url("../img/exemple-tableau.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img2 {
    background-image: url("../img/original.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: fixed;
    bottom: 0;
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    transition: .3s ease-in;
}

a:hover{
    letter-spacing: 1px;
    background-color: #000000;
    color: #fff;
}

